body {
    font-family: "Averta", serif; 
    margin: 0 5pt;
    text-align: justify;
    line-height: 1.5;
}

p {
    text-indent: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
}

h1, h2, h3 {
    text-align: center;
    margin: 1em 0;
    text-indent: 0;
}

h1 + p, h2 + p, h3 + p {
    text-indent: 0;
}

/* Tối ưu Note Popup */
a.noteref {
    font-size: 0.75em;
    vertical-align: super;
    text-decoration: none;
    color: #0056b3;
}

/* KHÔNG dùng display: none ở đây nữa */
/* Apple Books sẽ tự động tàng hình thẻ này. Các máy đọc sách Android/Kindle sẽ hiển thị đẹp đẽ ở cuối chương. */
aside[epub\:type="footnote"] {
    border-top: 1px solid #ccc;
    margin-top: 2em;
    padding-top: 1em;
    font-size: 0.9em;
}