@font-face {
    font-family: "BeVietnamPro";
    src: url("../Fonts/BeVietnamPro-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "BeVietnamPro";
    src: url("../Fonts/BeVietnamPro-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "BeVietnamPro";
    src: url("../Fonts/BeVietnamPro-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "BeVietnamPro";
    src: url("../Fonts/BeVietnamPro-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: "Averta", serif; 
    margin: 0 5pt;
    text-align: justify;
    line-height: 1.5;
}

p {
    text-indent: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
}

h1, h2, h3 {
    text-align: center;
    margin: 1em 0;
    text-indent: 0;
}

h1 + p, h2 + p, h3 + p {
    text-indent: 0;
}

/* Link số chú thích trong văn bản */
a.noteref {
    font-size: 0.75em;
    vertical-align: super;
    text-decoration: none;
    color: #0056b3;
}

/* Khu vực chứa toàn bộ chú thích ở cuối chương (Dành cho app không có popup) */
hr.footnote-divider {
    margin-top: 3em;
    border: 0;
    border-top: 1px solid #ccc;
    width: 30%;
    margin-left: 0;
    margin-bottom: 1em;
}

section.footnotes-section {
    font-size: 0.85em;
    color: #444; /* Màu xám để phân biệt với văn bản chính */
}

section.footnotes-section aside {
    margin-bottom: 0.5em;
}

/* Nút mũi tên quay lại mạch đọc */
a.back-link {
    text-decoration: none;
    color: #0056b3;
    font-weight: bold;
    margin-right: 5px;
}