body {
    font-family: "Averta", serif; 
    margin: 0 5pt;
    text-align: justify;
    line-height: 1.5;
}

p {
    text-indent: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
}

h1, h2, h3 {
    text-align: center;
    margin: 1em 0;
    text-indent: 0;
}

h1 + p, h2 + p, h3 + p {
    text-indent: 0;
}

/* Tối ưu Note Popup */
a.noteref {
    font-size: 0.75em;
    vertical-align: super;
    text-decoration: none;
    color: #0056b3;
}

/* Ẩn hoàn toàn khối chú thích khỏi luồng đọc chính */
aside[epub|type="footnote"],
aside.footnote {
    display: none !important; 
    opacity: 0;
    height: 0;
    margin: 0;
    padding: 0;
}